// Navigation
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-block.d-lg-none Heliton Martins
        span.d-none.d-lg-block
            img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Heliton Martins')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-separator
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#about') Sobre
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#education') Educação
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#skills') Habilidades
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#research') Pesquisa
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#experience') Experiência
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#interests') Interesses
            li.nav-separator
            li.nav-item
                a.nav-link.icon-link(href='https://hellmrf.dev.br')
                    i.fas.fa-globe
                    span Meu site
//- nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
//-     .container.px-4
//-         a.navbar-brand(href='#page-top') Heliton Martins | CV
//-         button.navbar-toggler(type='button' data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
//-             span.navbar-toggler-icon
//-         #navbarResponsive.collapse.navbar-collapse
//-             ul.navbar-nav.ms-auto
//-                 li.nav-item
//-                     a.nav-link(href='#about') About
//-                 li.nav-item
//-                     a.nav-link(href='#services') Services
//-                 li.nav-item
//-                     a.nav-link(href='#contact') Contact
