doctype html
html(lang='pt')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Heliton Martins')

        title Heliton Martins - CV

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        include includes/nav
        // Page Content
        .container-fluid.p-0

            // About
            include pages/about
            hr.m-0

            // Education
            include pages/education
            hr.m-0

            // Skills
            include pages/skills
            hr.m-0

            // Research
            include pages/research
            hr.m-0

            //- // Experience
            //- include pages/experience
            //- hr.m-0

            // Interests
            include pages/interests
            hr.m-0



        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
