// About
section#about.resume-section
    .resume-section-content
        .d-block.d-lg-none.text-center.mb-4
            img.img-fluid.img-profile-mobile.rounded-circle.mx-auto(src='assets/img/profile.jpg', alt='Heliton Martins', loading='lazy', width='160', height='160')
        h1.mb-0
            | Heliton
            span.text-primary Martins
        .subheading.mb-5
            | Belo Horizonte, MG · Brasil ·
            a(href='mailto:helitonmrf@gmail.com') helitonmrf@gmail.com
        p.lead.mb-5
            | Pesquisador em Inteligência Artificial e desenvolvedor de software há mais de 10 anos. Bacharel em Química Computacional pela UFMG e Técnico em Química pelo CEFET-MG. Fundador dos canais Programação Popular e IA Popular.
        .social-icons
            a.social-icon(href='https://github.com/hellmrf', target='_blank')
                i.fab.fa-github
            a.social-icon(href='https://www.youtube.com/@programacaopopular', target='_blank')
                i.fab.fa-youtube
            a.social-icon(href='https://www.linkedin.com/in/hellmrf/', target='_blank')
                i.fab.fa-linkedin-in
            a.social-icon(href='http://lattes.cnpq.br/2197799814329542', target='_blank')
                i.ai.ai-lattes
