section#education.resume-section
    .resume-section-content
        h2.mb-5 Educação

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Universidade Federal de Minas Gerais (UFMG)
                .subheading.mb-3 Bacharelado em Química
                div Ênfase em Química Computacional
            .flex-shrink-0
                span.text-primary 2019 - Presente

        .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
                h3.mb-0 Centro Federal de Educação Tecnológica de Minas Gerais (CEFET-MG)
                .subheading.mb-3 Curso Técnico em Química
                p Formação Técnica Integrada ao Ensino Médio
            .flex-shrink-0
                span.text-primary 2015 - 2018
