
section#research.resume-section
    .resume-section-content
        h2.mb-5 Pesquisa
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Laboratório de Química Computacional Aplicada
                .subheading.mb-3
                    a(href='https://lacc.qui.ufmg.br', target='_blank') LACC/UFMG
                p Pesquisa em projetos de Inteligência Artificial aplicada ao planejamento de fármacos sob orientação do Prof. Dr. João Paulo Ataíde Martins.
            .flex-shrink-0
                span.text-primary 2019 - Presente

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Laboratório de Problemas Inversos e Cinética Química
                .subheading.mb-3
                    a(href='https://dgp.cnpq.br/dgp/espelhogrupo/584686', target='_blank') PICQ/UFMG
                p Redes Neurais Artificiais aplicadas às Análises Térmicas e à Inovação, sob orientação da Profª. Drª. Rita de Cássia Oliveira Sebastião.
            .flex-shrink-0
                span.text-primary 2020 - 2024

        h3.mb-3 Publicações e outros trabalhos

        ul.fa-ul.mb-0
            li
                span.fa-li
                    i.fas.fa-file-alt
                b REIS FILHO, H. M.
                | ; MARTINS, J. P. A.
                a(href='https://proceedings.science/sbqt-2021/trabalhos/lqtagridhull-and-lqtagrid-for-4d-qsar-descriptors-calculation-a-comparative-stud?lang=pt-br', target='_blank') LQTAGridHull and LQTAGrid for 4D-QSAR Descriptors calculation: a comparative study.
                |  In: XXI Simpósio Brasileiro de Química Teórica, 2021, Online. Anais do XXI Simpósio Brasileiro de Química Teórica. Campinas: Galoá, 2021.
            li
                span.fa-li
                    i.fas.fa-file-alt
                | MARTINS, J. P. A. ;
                b REIS FILHO, H. M.
                |
                a(href='https://proceedings.science/rasbq-2020/papers/qsarmodelingpy-a-python-package-to-build-and-validate-qsar-models?lang=en', target='_blank') QSARModelingPy: a python package to build and validate QSAR models
                |  In: 43ª Reunião Anual da Sociedade Brasileira de Química, 2020, Online. Anais eletrônicos. Campinas: Galoá, 2020. v. 1.
            li
                span.fa-li
                    i.fas.fa-file-alt
                | SILVA, E. D. F. ; SOUZA, C. M. ; OLIVEIRA, C. S. ;
                b REIS FILHO, H. M.
                |  ; SOUZA, R. F. ; BARROS, R. M. O. ; ALCANTARA, S. X. . Machado de Assis: Imagens e Sensações. In: I Jornada LITE, 2017, Timóteo/MG. Livro de Resumos, 2017. p. 48-48.
