section#skills.resume-section
    .resume-section-content
        h2.mb-5 Habilidades
        .subheading.mb-3 Linguagens de Programação & Ferramentas
        ul.list-inline.dev-icons
            li.list-inline-item
                i.fab.fa-python
            li.list-inline-item
                i.fab.fa-js-square
            li.list-inline-item
                i.fab.fa-react
            li.list-inline-item
                i.fab.fa-node-js
            li.list-inline-item
                i.fab.fa-html5
            li.list-inline-item
                i.fab.fa-css3-alt
            li.list-inline-item
                i.fab.fa-sass
            li.list-inline-item
                i.fab.fa-git
            li.list-inline-item
                i.fab.fa-docker
        .subheading.mb-3 Áreas de Conhecimento
        ul.fa-ul.mb-0
            li
                span.fa-li
                    i.fas.fa-check
                | Inteligência Artificial e Machine Learning
            li
                span.fa-li
                    i.fas.fa-check
                | Química Computacional
            li
                span.fa-li
                    i.fas.fa-check
                | Desenvolvimento Web Full Stack
            li
                span.fa-li
                    i.fas.fa-check
                | Programação Científica
